html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #d4e2e3;
  font-family: 'Ubuntu Mono', monospace;
}

.container {
  width:85%;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content:center; */
  margin:0 auto;
}

header {
  background-color: #6398e8;
  margin-top: 1em;
  padding: 0.2em;
  border-radius: 10px 30px;
  /* width:100%; */
}

header p, h1,h2,h3 {
  font-family: 'Emilys Candy', cursive;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 18px;
}

.container p {
  text-align: justify;
  line-height:1.5em;
}

.container header p {
  font-size: 36px;
  text-align: center;
  color:#f2cc1d;
  text-shadow: 1px 1px 1px red;
}

header ul {
  display: none;
}
